.container {
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contents {
  padding-top: 40px;
  padding-bottom: 120px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
